
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="search-input-container">
        <input type="text" [(ngModel)]="searchCriteria" (keyup)="searchExercices()" placeholder="Search Exercises" class="form-control mb-3">
      </div>
      
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let exercise"> {{ exercise.name }} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let exercise"> {{ exercise.description }} </td>
          </ng-container>
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> priority </th>
            <td mat-cell *matCellDef="let exercise"> {{ exercise.priority }} </td>
          </ng-container>
          <ng-container matColumnDef="exeTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration (mins) </th>
            <td mat-cell *matCellDef="let exercise"> {{ exercise.exeTime }} </td>
          </ng-container>
          <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
            <td mat-cell *matCellDef="let exercise"> {{ exercise.picture }} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let exercise">
              <button type="button" class="btn btn-sm btn-danger" (click)="supp(exercise.idExercice)">Delete</button>
              <button type="button" class="btn btn-sm btn-danger" [routerLink]="['/admin/UpdateExo', exercise.idExercice]">Update</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="col-md-8 text-center mt-3">
        <a routerLink="/admin/AddMentorExo" class="btn btn-sm btn-primary mx-2">Create Exercise</a>
        <a routerLink="/admin/assignEtoP" class="btn btn-sm btn-primary mx-2">Assign Exercise</a>
      </div>
    </div>
</div>
