<style>
  body {
    background-image: url('/assets/FrontOffice/img/slider-1.jpg');
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'arrière-plan */
    /* Autres styles de fond si nécessaire */
  }
</style>
<body>
<app-header-front></app-header-front>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-lg-4 offset-lg-2"> <!-- Ajout de la classe offset-lg-2 -->
            <!-- Profile Card START -->
            <div class="profile-card-4 z-depth-3">
                <div class="card">
                    <div class="card-body text-center bg-primary rounded-top">
                        <div class="user-box">
                            <img [src]="userImage" alt="User Image">
                        </div>
                        <h5 class="mb-1 text-white">{{ userconnect.firstName }} {{ userconnect.lastName }}</h5>
                   
                    </div>
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="list-details">
                                    <span>29373712</span>
                                    <small>Mobile Number</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="list-details">
                                    <span>{{ userconnect.email }}</span>
                                    <small>Email Address</small>
                                </div>
                            </li>
                          
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="javascript:void()" class="btn-social btn-facebook waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void()" class="btn-social btn-google-plus waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
                        <a href="javascript:void()" class="list-inline-item btn-social btn-behance waves-effect waves-light"><i class="fa fa-behance"></i></a>
                        <a href="javascript:void()" class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <!-- Profile Card END -->
        </div>
        <div class="col-lg-6">
            <!-- Edit Profile START -->
            <div class="card z-depth-3">
                <div class="card-body">
                    <ul class="nav nav-pills nav-pills-primary nav-justified">
                        <li class="nav-item">
                            <a href="#edit-profile" data-target="#edit-profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Edit Profile</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#edit" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit Password</span></a>
                        </li>
                    </ul>
                    <div class="tab-content p-3">
                        <!-- Formulaire pour l'édition du profil -->
                        <div class="tab-pane active show" id="edit-profile">
                            <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" formControlName="firstName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" formControlName="lastName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="email" formControlName="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Cancel">
                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Formulaire pour l'édition du mot de passe -->
                       <!-- Formulaire pour l'édition du mot de passe -->
                       <div class="tab-pane" id="edit">
                        <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">New Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" formControlName="password">
                                </div>
                            </div>
                            <!-- Ajout du deuxième champ de mot de passe pour confirmation -->
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Confirm New Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" formControlName="confirmPassword">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="submit" class="btn btn-primary" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                    

                    </div>
                </div>
            </div>
            <!-- Edit Profile END -->
        </div>
    </div>
</div>

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
</body>

<footer><app-footer-front></app-footer-front></footer>
