.input.select {
    background-color: black; /* Ajoutez la couleur de fond verte */
    color:black; /* Couleur du texte */
    padding: 10px; /* Espace intérieur */
    border-radius: 5px; /* Bordure arrondie */
    border: none; /* Supprimer la bordure par défaut */
    outline: none; /* Supprimer l'effet de focus */
  }