<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Ajouter un programme</div>
        <div class="card-body">
          <!-- Utilisation du formulaire --><form [formGroup]="AddProgramForm" (ngSubmit)="saveProgram()">
            <!-- Champ de saisie pour le nom du programme -->
            <div class="form-group">
              <label for="nameProg">Nom du programme</label>
              <input type="text" id="nameProg" class="form-control" formControlName="nameProg" placeholder="Entrez le nom du programme">
            </div>
            <!-- Champ de saisie pour la durée du programme -->
            <div class="form-group">
              <label for="duration">Durée du programme</label>
              <input type="text" id="duration" class="form-control" formControlName="duration" placeholder="Entrez la durée du programme">
            </div>
            <!-- Champ caché pour l'ID de l'utilisateur -->
            <input type="hidden" formControlName="userId">
            <!-- Bouton de soumission du formulaire -->
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>