<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Ajouter un programme</div>
        <div class="card-body">
          <form [formGroup]="AddProgramForm" (ngSubmit)="saveProgram()">
            <div class="form-group">
              <label for="nameProg">Program name</label>
              <input type="text" id="nameProg" class="form-control" formControlName="nameProg" placeholder="Enter the program name">
            </div>
        
            <div class="form-group">
              <label for="duration">Program duration</label>
              <input type="number" id="duration" class="form-control" formControlName="duration" placeholder="Enter the duration of the program">
            </div>
            <input type="hidden" formControlName="userId">
            <button type="submit" class="btn btn-primary" >Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>