.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .center-button {
    display: block;
    margin: 0 auto;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Couleur de fond */
  }
  
  header {
    background-color: #007bff; /* Couleur de l'en-tête */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    width: 100px; /* Taille de l'image/logo */
  }
  
  .container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .search-container {
    flex: 1;
    margin-right: 10px;
  }
  
  .filter-container {
    flex: 1;
    margin-right: 10px;
  }
  
  .main-content {
    margin: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Couleur de fond de la table */
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .center-button {
    display: block;
    margin: 20px auto;
  }
  
  .center-text {
    text-align: center;
  }
  