<section class="home-slider owl-carousel">

  <div class="slider-item" style="background-image: url('/assets/FrontOffice/img/healthy-eating-on-budget.png');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 element-animate">
          <h1>healthy meal delivery</h1>
          <p class="mb-5">Enjoy chef-prepared, nutritionally balanced meals delivered fresh to your door. Our convenient 
            service supports your wellness goals, whether you're looking to lose weight, gain muscle, or simply eat 
            better. Start your journey to a healthier lifestyle today!</p>
          <p><a href="#" class="btn btn-white btn-outline-white">Get Started</a> </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('/assets/FrontOffice/img/shutterstock_793136707-1.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 element-animate">
          <h1>WorkOut Coaching</h1>
          <p class="mb-5">Transform your fitness journey with our expert workout coaching. Our certified trainers provide
             personalized plans and guidance, ensuring you reach your goals effectively and enjoyably. Start today and 
             experience the difference!.</p>
          <p><a href="#" class="btn btn-white btn-outline-white">Get Started</a> </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('/assets/FrontOffice/img/12635.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 element-animate">
          <h1>mental health monitoring</h1>
          <p class="mb-5">Prioritize your mental well-being with our expert monitoring. Our personalized assessments and 
            support help you navigate life's challenges. Take the first step towards a healthier mind today.</p>
          <p><a href="#" class="btn btn-white btn-outline-white">Get Started</a> </p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('/assets/FrontOffice/img/doctor-johnny-sins-6vleyqyzdu5tcn5c.jpg');">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 element-animate">
          <h1>Physiotherapy Sessions</h1>
          <p class="mb-5">Discover relief and healing with our expert physiotherapists. Our personalized sessions are 
            designed to alleviate pain, improve mobility, and enhance your well-being. Start your journey to better 
            health today!</p>
          <p><a href="#" class="btn btn-white btn-outline-white">Get Started</a> </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section element-animate">
  <div class="clearfix mb-5 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center heading-wrap">
          <h2 style="color: black;">Our Packs</h2>
          <span class="back-text">Subscriptions</span>
        </div>
      </div>
    </div>
  </div>

  <div class="owl-carousel centernonloop">
    <a href="#" class="item-class">
      <div class="text">
        <p class="class-price">90 TND</p>
        <h2 class="class-heading">Workout guidness + Meal</h2>
      </div>
      <img src="/assets/FrontOffice/img/workout+meal.jpg" alt="image" class="img-fluid">
    </a>
    <a href="#" class="item-class">
      <div class="text">
        <p class="class-price">120 TND</p>
        <h2 class="class-heading">Workout guidness + Meal + physiotherapists </h2>
      </div>
      <img src="/assets/FrontOffice/img/AdobeStock_93677495.jpeg" alt="" class="img-fluid">
    </a>
    <a href="#" class="item-class">
      <div class="text">
        <p class="class-price">180 TND</p>
        <h2 class="class-heading">Workout guidness + Meal + Mental health</h2>
      </div>
      <img src="assets/FrontOffice/img/shutterstock_324427688-1.jpg" alt="" class="img-fluid">
    </a>
    <a href="#" class="item-class">
      <div class="text">
        <p class="class-price">220 TND</p>
        <h2 class="class-heading">FULL PACK</h2>
      </div>
      <img src="assets/FrontOffice/img/vip.JPG" alt="" class="img-fluid">
    </a>
  </div>
</section> <!-- .section -->



<section class="section element-animate">

  <div class="clearfix mb-5 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center heading-wrap">
          <h2>Expert Trainers</h2>
          <span class="back-text">Our Trainers</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="major-caousel js-carousel-1 owl-carousel">
        <div>
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="assets/FrontOffice/img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Mellisa Howard</h3>
              <p class="lead">Gym Trainer</p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="assets/FrontOffice/img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Mike Richardson</h3>
              <p class="lead">Gym Trainer</p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="assets/FrontOffice/img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Charles White</h3>
              <p class="lead">Gym Trainer</p>
            </div>
          </div>
        </div>

        <div>
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="assets/FrontOffice/img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Mellisa Howard</h3>
              <p class="lead">Gym Trainer</p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="assets/FrontOffice/img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Mike Richardson</h3>
              <p class="lead">Gym Trainer</p>
            </div>
          </div>
        </div>
        <div>
          <div class="media d-block media-custom text-center">
            <a href="#"><img src="assets/FrontOffice/img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Charles White</h3>
              <p class="lead">Gym Trainer</p>
            </div>
          </div>
        </div>


      </div>
      <!-- END slider -->
    </div>
  </div>

</section> <!-- .section -->

<section class="section element-animate">

  <div class="clearfix mb-5 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center heading-wrap">
          <h2>Testimonial</h2>
          <span class="back-text">Testimonial</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <blockquote class="testimonial">
          <p>&ldquo; 
            Melissa Howard is a dedicated fitness and wellness coach with a holistic approach. 
            She specializes in personalized programs that focus on both physical and mental well-being. 
            Melissa's coaching style is supportive, motivating, and results-driven, 
            making her a trusted partner in her clients' fitness journeys. &rdquo;</p>
          <div class="d-flex author">
            <img src="assets/FrontOffice/img/person_1.jpg" alt="" class="mr-4">
            <div class="author-info">
              <h4>Mellisa Howard</h4>
              
            </div>
          </div>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote class="testimonial">
          <p>&ldquo; Mike Richardson is a dedicated fitness coach with a balanced approach to wellness. 
            He specializes in personalized programs that incorporate strength, cardio, and flexibility training. 
            Mike's coaching style is supportive and motivating,
             helping clients achieve their fitness goals and live healthier lives. &rdquo;</p>
          <div class="d-flex author">
            <img src="assets/FrontOffice/img/person_2.jpg" alt="" class="mr-4">
            <div class="author-info">
              <h4>Mike Richardson</h4>
      
            </div>
          </div>
        </blockquote>
      </div>
      <div class="col-md-4">
        <blockquote class="testimonial">
          <p>&ldquo; Charles White is a dedicated fitness coach with a balanced approach to wellness. 
            He specializes in personalized programs that incorporate strength, cardio, and flexibility training. 
            Charles's coaching style is supportive and motivating,
             helping clients achieve their fitness goals and live healthier lives. &rdquo;</p>
          <div class="d-flex author">
            <img src="assets/FrontOffice/img/person_3.jpg" alt="" class="mr-4">
            <div class="author-info">
              <h4>Charles White</h4>
              
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section> <!-- .section -->
