<header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="assets/FrontOffice/index.html">Vita<span>Vibes</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample05">
          <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
            <li class="nav-item">
              <a class="nav-link active" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="assets/FrontOffice/about.html">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="assets/FrontOffice/services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="">WorkOut</a>
                <a class="dropdown-item" routerLink="/GetMentors">Yoga</a>
                <a class="dropdown-item" href="">physiotherapists</a>
                <a class="dropdown-item" href="">Restaurant</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="assets/FrontOffice/news.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/market" >Market Place</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/edit">profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/createReclamation">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/event">Event</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li *ngIf="userconnect == null">
              <a class="nav-link" routerLink="/login" >Login</a>
          </li>
            <li *ngIf="userconnect !== null">
              <a class="nav-link" routerLink="/login" (click)="logout()">Logout</a>
          </li>
        
          </ul>
            
     
        </div>
      </div>
    </nav>
  </header>