<!-- usergetall.component.html -->

<style>
  body{
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 100px;
  }
</style>
<body>        
  <h2>Create A Mentor Exercice</h2>
    <div class="card">
          <div class="table-responsive">
            <form [formGroup]="AddForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter name">
                </div>
              <div class="alert alert-danger" *ngIf="this.AddForm.controls['name'].invalid  &&this.AddForm.controls['name'].touched">
                  <p *ngIf="this.AddForm.controls['name'].hasError('required')">Name required</p>
                  <p *ngIf="this.AddForm.controls['name'].hasError('minlength')">Name min Length 4 </p>
              </div>
            
              <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <input type="text" class="form-control" formControlName="description" placeholder="description">
              </div>
              <div class="alert alert-danger" *ngIf="this.AddForm.get('description')?.invalid && this.AddForm.controls['description'].touched">
                  <p *ngIf="this.AddForm.controls['description'].hasError('required')">Description required</p>
                  <p *ngIf="this.AddForm.controls['description'].hasError('maxlength')">Description max Length 500 </p>
              </div>
            
            
              <div class="form-group">
                  <label for="priority">priority</label>
                  <input type="text" class="form-control" formControlName="priority" placeholder="priority">
              </div>
              <div class="alert alert-danger" *ngIf="this.AddForm.get('priority')?.invalid && this.AddForm.controls['priority'].touched">
                  <p *ngIf="this.AddForm.controls['priority'].hasError('required')">priority required</p>
                  <p *ngIf="this.AddForm.controls['priority'].hasError('min')">priority doit etre positif</p>
              </div>
            
            
              <div class="form-group">
                  <label for="ExeTime">ExeTime</label>
                  <input type="number" class="form-control" formControlName="exeTime" placeholder="exeTime">
              </div>
              <div class="alert alert-danger" *ngIf="this.AddForm.get('exeTime')?.invalid && this.AddForm.controls['exeTime'].touched">
                  <p *ngIf="this.AddForm.controls['exeTime'].hasError('required')">ExeTime required</p>
                  <p *ngIf="this.AddForm.controls['exeTime'].hasError('min')">ExeTime doit etre positif</p>
              </div>
              
              <div class="form-group">
                  <label for="exampleInputPassword1">picture</label>
                  <input type="text" class="form-control" formControlName="picture" placeholder="picture">
              </div>
              <div class="alert alert-danger" *ngIf="this.AddForm.get('picture')?.invalid && this.AddForm.controls['picture'].touched">
              </div>
            
              <button type="submit" class="btn btn-primary" [disabled]="AddForm.invalid" (click)="save()">Submit</button>
              <button type="submit" class="btn btn-primary" (click)=" reset() ">reset</button>
            </form>
          </div>
        </div>
      </body>