<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between" style="background-color: black;">
      <a href="assets/BackOffice/index.html"    class="text-nowrap logo-img">
        <img src="assets/BackOffice/assets/images/logos/dark-logo.svg" width="180" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"routerLink="/admin" aria-expanded="false">
            <span>
              <i class="ti ti-layouthome"></i>
            </span>
            <span class="hide-menu">Home</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">VitaVibes</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/getall"  aria-expanded="false">
            <span>
              <i class="ti ti-article"></i>
            </span>
            <span class="hide-menu" >User Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="assets/BackOffice/ui-forms.html" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Coach Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="assets/BackOffice/ui-forms.html" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Physiothérapist Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/all-events" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Event Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/demande-event" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Request Event Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/exercice" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Exercices Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/workout" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Workout Management</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="assets/BackOffice/ui-forms.html" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Restaurant Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/getReclamations" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Reclamation Management</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="assets/BackOffice/ui-forms.html" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Forum Management</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/product" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu" >Product Management</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/MentorProg" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Mental Program Management</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/MentorExo" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Mental Exercice Management</span>
          </a>
        </li>
                
        <li class="sidebar-item">
          <a class="sidebar-link" href="/admin/Program" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Nutrionniste Program </span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" href="assets/BackOffice/ui-forms.html" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Room Management</span>
          </a>
        </li>
        

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">AUTH</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="assets/BackOffice/authentication-login.html" aria-expanded="false">
            <span>
              <i class="ti ti-login"></i>
            </span>
            <span class="hide-menu">Login</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="assets/BackOffice/authentication-register.html" aria-expanded="false">
            <span>
              <i class="ti ti-user-plus"></i>
            </span>
            <span class="hide-menu">Register</span>
          </a>
        </li>
        
        
        
      </ul>
      
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>