<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Votre titre</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2>Create A response</h2>
    <form (ngSubmit)="createResponse()">
      <div>
        <label for="descriptionRep">Description de la réponse:</label>
        <textarea id="descriptionRep" name="descriptionRep" [(ngModel)]="responseData.descriptionRep" required></textarea>
      </div>
      <div>
        <label for="dateRep">Date de réponse:</label>
        <input type="date" id="dateRep" name="dateRep" [(ngModel)]="responseData.dateRep" required>
      </div>
      <div>
        <label for="reclamation">Réclamation associée:</label>
        <select id="reclamation" name="reclamation" [(ngModel)]="responseData.idReclam" required>
          <option *ngFor="let reclamation of reclamations" [ngValue]="reclamation.id">{{ reclamation.idReclam }}</option>
        </select>
      </div>
      <button type="submit">Respond</button>
    </form>
  </div>
</body>
</html>
