<div class="row">
  <div class="col-md-6 mx-auto p-0">
      <div class="card">
          <div class="login-box" >
              <div class="login-snip">
                  <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
                  <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                  <div class="login-space">
                      <div class="login" [formGroup]="loginForm">
                          <div class="group">
                              <label for="user" class="label">Email</label>
                              <input id="user" type="text" class="input" placeholder="Enter your Email" formControlName="email">
                          </div>
                          <div class="group">
                              <label for="pass" class="label">Password</label>
                              <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password" formControlName="password">
                          </div>
                          <div class="group">
                              <button type="submit" class="button" (click)="login()">Sign In</button>
                          </div>
                          <div class="hr"></div>
                          <div class="foot">
                              <a routerLink="/forgotpassword">Forgot Password?</a>
                          </div>
                      </div>
                      <div class="sign-up-form" [formGroup]="registerForm">
                          <div class="group">
                              <label for="pass" class="label">First Name</label>
                              <input type="text" class="input" placeholder="First Name" formControlName="firstName">
                              <div  *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error-message">
                                  <div *ngIf="registerForm.get('firstName')?.errors?.['required']">First Name is required.</div>
                                  <div   *ngIf="registerForm.get('firstName')?.errors?.['minlength']">First Name must be at least 3 characters.</div>
                              </div>
                          </div> 
                      <div class="group">
                        <label for="pass" class="label">Last Name</label>
                          <input type="text" class="input" placeholder="Last Name" formControlName="lastName">
                          
                          <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error-message">
                              <div *ngIf="registerForm.get('lastName')?.errors?.['required']">Last Name is required.</div>
                              <div *ngIf="registerForm.get('lastName')?.errors?.['minlength']">Last Name must be at least 3 characters.</div>
                          </div>
                      </div>  
                      <div class="group">
                      <label for="pass" class="label">Email</label>
                          <input type="email" class="input" placeholder="Email" formControlName="email">
                          
                          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
                              <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                              <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
                          </div>
                      </div>
                      <div class="group">
                        <label for="pass" class="label">Phone Number</label>
                          <input type="tel" class="input" placeholder="Phone Number" formControlName="phonenumber">
                      
                          <div *ngIf="registerForm.get('phonenumber')?.invalid && registerForm.get('phonenumber')?.touched" class="error-message">
                              <div *ngIf="registerForm.get('phonenumber')?.errors?.['required']">Phone Number is required.</div>
                              <div *ngIf="registerForm.get('phonenumber')?.errors?.['minlength']">Phone Number must be at least 8 characters.</div>
                          </div>
                      </div>
                      <div class="group">
                        <label for="pass" class="label">Photo Profile</label>
                          <input type="file" class="input" placeholder="Photo Profile" (change)="onImageUpload($event)">
                          <i class="input-icon uil uil-image"></i>
                          <!-- Vous pouvez ajouter des contrôles de validation ici si nécessaire -->
                      </div>
                      <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" placeholder="Password" formControlName="password">
                        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
                            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.errors?.['required']">Password is required.</div>
                            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</div>
                            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.errors?.['invalidPassword']">Password must contain at least one uppercase letter.</div>
                        </div>
                    </div>
                      <div class="group">
                        <label for="pass" class="label">Role</label>
                          <select id="role" class="form-style select" formControlName="role">
                              <option value="" disabled selected><i class="input-icon uil uil-user"></i>Choose Role:</option>
                              <option value="USER"><i class="input-icon uil uil-user"></i> User</option>
                              <option value="NUTRITIONISTE"><i class="input-icon uil uil-leaf"></i> Nutritioniste</option>
                              <option value="COACH"><i class="input-icon uil uil-dumbbell"></i> Coach</option>
                              <option value="MENTOR"><i class="input-icon uil uil-graduation-cap"></i> Mentor</option>
                          </select>
                          <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="error-message">
                              <div *ngIf="registerForm.get('role')?.errors?.['required']">Role is required.</div>
                       
                          </div>
                      </div>
                      
                      <div class="group">
                        <button type="submit" class="button" (click)="register()">Sign In</button>
                    </div>
                
              </div>
          </div>
      </div>
  </div>
</div>






