<!-- usergetall.component.html -->
<style>
  body{
    margin-left: 300px;
    margin-right: 50px;
    margin-top: 100px;
  }
</style>

 <body>
  <div class="container-fluid">
    <h2>Create A Mentor Program</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Tableau des utilisateurs -->
        <div class="card">
          <div class="table-responsive">
            <form [formGroup]="AddForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter name">
                </div>
                <div class="alert alert-danger" *ngIf="this.AddForm.controls['name'].invalid  &&this.AddForm.controls['name'].touched">
                    <p *ngIf="this.AddForm.controls['name'].hasError('required')">Name required</p>
                    <p *ngIf="this.AddForm.controls['name'].hasError('minlength')">Name min Length 4 </p>
                </div>
            
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" formControlName="description" placeholder="description">
                </div>
                <div class="alert alert-danger" *ngIf="this.AddForm.get('Description')?.invalid && this.AddForm.controls['description'].touched">
                    <p *ngIf="this.AddForm.controls['description'].hasError('required')">Description required</p>
                    <p *ngIf="this.AddForm.controls['description'].hasError('maxlength')">Description max Length 500 </p>
                </div>
            
                <div class="form-group">
                    <label for="type">Type</label>
                    <input type="text" class="form-control" formControlName="type" placeholder="type">
                </div>
                <div class="alert alert-danger" *ngIf="this.AddForm.get('type')?.invalid && this.AddForm.controls['type'].touched">
                    <p *ngIf="this.AddForm.controls['type'].hasError('required')">Type required</p>
                    <p *ngIf="this.AddForm.controls['type'].hasError('minLength')">Type min Length 4</p>
                </div>
            
                <div class="form-group">
                    <label for="objectf">Objectf</label>
                    <input type="text" class="form-control" formControlName="objectf" placeholder="objectf">
                </div>
                <div class="alert alert-danger" *ngIf="this.AddForm.get('objectf')?.invalid && this.AddForm.controls['objectf'].touched">
                    <p *ngIf="this.AddForm.controls['objectf'].hasError('required')">Objectf required</p>
                    <p *ngIf="this.AddForm.controls['objectf'].hasError('maxLength')">Objectf max Length positif</p>
                </div>
            
            
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input type="number" class="form-control" formControlName="duration" placeholder="duration">
                </div>
                <div class="alert alert-danger" *ngIf="this.AddForm.get('duration')?.invalid && this.AddForm.controls['duration'].touched">
                    <p *ngIf="this.AddForm.controls['duration'].hasError('required')">Duration required</p>
                    <p *ngIf="this.AddForm.controls['duration'].hasError('min')">Duration doit etre positif</p>
                </div>
                
                <div class="form-group">
                    <label for="picture">picture</label>
                    <input type="text" class="form-control" formControlName="picture" placeholder="picture">
                </div>
                <div class="alert alert-danger" *ngIf="this.AddForm.get('picture')?.invalid && this.AddForm.controls['picture'].touched">
                </div>
            
                <button type="submit" class="btn btn-primary" [disabled]="AddForm.invalid" (click)="save()">Submit</button>
                <button type="submit" class="btn btn-primary" (click)=" reset() ">reset</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>