<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4 mb-5">
        <h3>About Us</h3>
        <p class="mb-5">Welcome to our training and healthy lifestyle app! We're a team of developers committed to 
          empowering you to achieve your fitness and wellness goals. Our innovative features and personalized 
          experiences make it easier for you to adopt and maintain a healthy lifestyle. Whether you're a beginner 
          or a fitness enthusiast, our app is designed to support you every step of the way. Join us on this 
          journey to a healthier, happier you!</p>
        <ul class="list-unstyled footer-link d-flex footer-social">
          <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
        </ul>
      </div>
      <div class="col-md-5 mb-5">
        <h3>Contact Info</h3>
        <ul class="list-unstyled footer-link">
          <li class="d-block">
            <span class="d-block">Address:</span>
            <span class="text-white">Esprit, Arianna ghazella, Tunis</span></li>
          <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+216 29 373 712</span></li>
          <li class="d-block"><span class="d-block">Email:</span><span class="text-white">vitavibesesprit@gmail.com</span></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <h3>Quick Links</h3>
        <ul class="list-unstyled footer-link">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Disclaimers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    
  </div>
</footer>
<!-- END footer -->